-Functional requirements
   FR1) The software must require identification of the patient, this identification consisting of Full name, Age (Day/Month/Year), CPF, Main Complaint, Symptoms, and suggestive ICD (International Statistical Classification of Diseases and Related Health Problems);

   FR2)The user must have permission to edit one of the items on the identification form. If more than one item is incorrect, the form must be deleted and redone again;

-Non funcitional requirements
    
    NFR1) The data that makes up the identification of each patient must be organized in the form of structs that will be identified by the name Identity;
    NFR2 )Validation of the CPF number;
    NFR3)Birthday Validation;
    NFR4 ) CID Validation;
    NFR5 ) The software must have a visual Menu for the user, this will be printed on the user's screen and must contain the following options: Service Queue, Patient Registration, Search for Patient, Exit.
   